*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
    background-image: url("./Resourses/Hero-bg.png");
}
header .nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    padding-top: 30px;
    align-items: center;
}

.nav h4{
    font-size: 35px;
    color: #4E47FF;
}

.btn{
    padding: 12px 35px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}

.btn:hover{
    background-color:#0056b3;
    cursor: pointer;
}

.focused{
    margin-left: auto;
    margin-right: auto;
    padding-bottom:100px;
    max-width: 905px;   
    margin-top: 306px;
    text-align: center;
}
.focused p{
    font-size: 65px;
    font-weight: bold;
}

/* action part */

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 116px;
}

.side-margin{
    margin: 0px 150px;
}

.action-pic{
    width: 403px;
    height: 328px;
    overflow: hidden;
    border-radius: 48px;
    background-color: blue;
}

.action-pic img{
    object-fit: cover;
}

.action-text{
    max-width: 517px;
    max-height: 203px;
    text-align: left;
}
.action-text h1{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.action-text p{
    font-size: 24px;
    margin-bottom: 23px;
}
 /* Productive Users Section */

 .users-say{
    text-align: center;
    margin-top: 137px;
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: bold;
 }
 
 .numbers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .productive-users{
    background-color: rgba(78, 71, 255,0.1);
    border-radius: 24px;
    margin-top: 150px;
    padding-bottom: 120px;
 }
 .productive-users .joined-text{
    text-align: center;
    padding: 50px;
 }

 .n-in-n{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
 }

 .n-in-t{
    font-size: 20px;
    color: rgba(0, 0, 0,0.5);
    text-align: center;
 }

 /* review section */

 .reviews{
    display: flex;
    justify-content:space-between;
 }

 .card{
       background-color: #F2EDED;
       border-radius: 14px;
       padding: 24px;
       width: 400px;
 }

 .star{
    margin: 24px 0px;

 }

 .pic-and-name{
    display: flex;
    margin-top: 24px;
 }

 .lady-pic{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-right: 12px;
 }
 .loved{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
 }
 .comment{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    /* margin-right: 24px; */
 }

 .re-name{
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0,0.5);

 }

 .date{
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0,0.3);
 }

 /* Get in touch section */

 .form{
    display: flex;
    flex-direction: column;
 }

 .get-in-touch{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .label{
   font-size: 18px;
   font-weight:500;
   margin-bottom: 10px;
 }

 form input{
   font-size: 20px;
   padding: 20px 271px 20px 32px;
   border: none;
   border-radius: 10px;
   background-color: rgba(100, 95, 243, 0.2);
 }

 form .msg{
   padding-bottom: 65px;
   margin-bottom: 20px;
 }

 .form-btn button{
   font-size: 16px;
   padding: 20px;
   width: 100%;
 }

 .get-in-touch h1{
   font-size: 97px;
   font-weight: bold;
   max-width: 700px;
 }

 .get-in-touch {
   margin-top: 106px;
 }
